@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Sans&display=swap');

:root {
    --maincolor: #0194c8;
    --sMainColor: #36454f;
    --secondarycolor: #c8d434;
    --mainTColor: white;
    --hFont: 'Open Sans', sans-serif, arial;
    --pFont: 'PT Sans', sans-serif, arial;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--pFont);
}

header,
main,
footer {
  margin: 20px;
  position: relative;
}

h1 {
  color: var(--maincolor);
  border-bottom: 1px solid #333;
  text-shadow: 0 0 15px var(--maincolor);
  width: 60%;
  font-family: var(--hFont);
}

h2 {
  color: var(--secondarycolor);
  margin: 0;
  font-family: var(--hFont);
}

main {
  margin-left: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
  margin: 5px;
  padding: 10px;
  background-color: var(--sMainColor);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section p {
  min-height: 60px;
  color: var(--mainTColor);
}

img {
  width: auto;
  max-width: 325px;
  box-shadow: 0 0 30px #777;
  height: 200px;
  border: 1px solid #333;
}

li img {
  width: auto;
  height: 30px;
}

footer {
  border-top: 1px solid #555;
  padding: 20px;
}
